.tagBtnFiltre {
    border: none;
    font-size: 1.1em;
    border-radius: 5px;
    color: white !important;
    margin: 0.2em;
}

.titleFiltre {
    padding: 0.3em;
    background-color: #e10014 !important;
    width: 10em;
    color: white;
    text-align: center;
}

.contentFiltrage {
    margin-top: 3em;
    margin-left: 3em;
}

.contentFootballers {
    margin-top: 3em;
    margin-left: 3em;
}

.cardFootballer {
    width: 14em;
    text-align: center;
}

.imgFootballerDisplay {
    width: 9em;
}

.logoTeam {
    width: 2em;
    height: 2em;
}

.clubname {
    margin-left: 1em;
}

.titleSell {
    background-color: #e10014 !important;
    color: white;
    margin: 0.2px;
}

.pagination {
    background-color: #e10014 !important;
    width: 24em;
    display: flex;
    justify-content: center;
    padding: 0.4em;
    margin: auto;
    margin-top: 2em !important;
}

.tagPosition {
    background-color: #e10014 !important;
    color: white;
}

.borderTag {
    border: 3.5px solid black;
}

.pagination a {
    text-decoration: none;
    color: white;
}

.pagination .selected {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: inline-block;
    text-align: center;
}

.pagination ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 0px !important;
}

.pagination li {
    list-style: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
}

.pagination .previous {
    width: 1.5em;
    border-right: 1px solid #ececec;
    display: flex;
    justify-content: start;
    font-size: 1.3em;
}

.pagination .next {
    width: 1.5em;
    border-left: 1px solid #ececec;
    display: flex;
    justify-content: end;
    font-size: 1.3em;
}


@media only screen and (max-width: 550px) {
    .contentFootballers {
        justify-content: center;
    }

    .pagination {
        width: 95%;
    }
}