{% extends 'base.html.twig' %}

{% block title %}Pack{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}
{% block body %}
    <div class="m-2 p-1">
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}