{% extends 'base.html.twig' %}

{% block title %}Opening pack{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('starterPack') }}
   {% endblock %}

{% block body %}
    <div class="background-image">
        <div class="content-players">

            <h5 class="title">Voici ton équipe de départ</h5>

            <div class="display-team d-flex flex-wrap">

                {% for player in team %}

                    <img class="footballer d-none opacity-0"
                         src="{{ asset('build/images/footballer/' ~ player.cardImage) }}">

                {% endfor %}
            </div>
            <div class="d-flex justify-content-center">
                <a id="manage-team" href="{{ url('view_team') }}" class="btn btn-success d-none mt-3">Manage ton
                    équipe</a>
            </div>
        </div>
    </div>
    <iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
    {% include 'widget/audio/packOpening.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('starterPack') }}
{% endblock %}