{% set submitClass = '' %}
{% if isSubmitForm is defined and isSubmitForm == true %}
    {% set submitClass = '' %}
{% else %}
    {% set submitClass = 'opacity-0' %}
{% endif %}
<div class="m-2 p-1">
    <small class="text-dark">Tu ne disposes d'aucune équipe pour l'instant, créer en une.</small>
    <div id="banner-create-team" class="banner-create-team">
        <p class="no-marg">Créer une équipe</p>
    </div>
    <div id="btn-display-form-create-team" class="create-team-content">
        {{ form_start(formCreateTeam , {'attr' : {'class' : submitClass , 'id' : 'form-create-team'}}) }}
        <div class="shadow p-3 bg-white rounded">
            {% include 'widget/form/input.html.twig' with {'nameForm' : formCreateTeam.name , 'title' : 'Nom de l\'équipe','requiredInput' : true} %}
            <div class="d-flex justify-content-between">
                <label for="team_logo" class="label-file">Choisir une image</label>
                <span id="file-name-create-team-upload" class="text-truncate ml-1 txt-upload-file"></span>
            </div>
            {{ form_widget(formCreateTeam.logo , {'attr' : {'class' : 'd-none'}}) }}
            <span class="text-danger">{{ form_errors(formCreateTeam.logo) }}</span>
        </div>
        <div class="mt-1">
            <button type="submit" class="btn btn-info float-end text-white">Création <i class="fas fa-futbol"></i>
            </button>
        </div>
        {{ form_end(formCreateTeam) }}
    </div>
</div>