<div class="m-2 p-1">
    <div class="content-team d-flex ">
        {% include 'widget/logoTeam/logo.html.twig' with {'user' : user} %}
        <div class="info-club">
            <p>{{ user.team.name|upper }}</p>
            <p>{{ user.lastName }} {{ user.firstName|upper }}</p>
            <p>{{ user.team.points }} points</p>
        </div>
    </div>
    <div class="m-3 mt-4">
        <a href="{{ url('manage_team') }}">
            <div id="team-manager"></div>
        </a>
    </div>
</div>
