{% extends 'base.html.twig' %}

{% block title %}Manager Team{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('managerTeam') }}
   {% endblock %}

{% block body %}

    <div class="parent-manager-team">
        <div id="content-manage-team-play" data-footballer="{{ teamPlay|json_encode }}" class="h-100 d-none"></div>
        <div id="content-manage-team" data-footballer="{{ footbollers|json_encode }}" class="h-100"></div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('managerTeam') }}
{% endblock %}