<div class="m-2 p-1">
    <small class="text-dark">Tu viens de créer ton équipe maintenant récupère ton starter pack de joueurs.</small>
    <div class="parent-pack-starter">
        <div class="start-pack-content d-flex justify-content-center align-content-center m-2">
            <a href="{{ url('pack_starter') }}">
                <img class="starter-pack" src="{{ asset('build/images/pack/fut.png') }}"/>
            </a>
        </div>
    </div>
</div>