{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('createTeam') }}
       {{ encore_entry_link_tags('starterPack') }}
       {{ encore_entry_link_tags('logoTeam') }}
       {{ encore_entry_link_tags('reactTeamUserDashboard') }}
   {% endblock %}

{% block body %}
    {% if haveTeam is defined and haveTeam is not null %}
        {% if starterPack is defined and starterPack == false %}
            {# manage d'une équipe #}
            {% include 'team/dashboardTeam.html.twig' %}
        {% else %}
            {# dès la création d'une équipe on donne des joueurs de base ( starter ) #}
            {% include 'team/starterPack.html.twig' %}
        {% endif %}
    {% else %}
        {# création d'un club #}
        {% include 'team/createTeam.html.twig' %}
    {% endif %}

    {% include 'widget/audio/packOpening.html.twig' %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('createTeam') }}
    {{ encore_entry_script_tags('openingPack') }}
    {{ encore_entry_script_tags('reactTeamUserDashboard') }}
{% endblock %}