{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('connexion') }}
{% endblock %}
{% block body %}
    <div class="content">
        <div class="content-form-connexion">
            <form method="post" id="form-connexion">
                <div class="banner-inscription-form d-flex justify-content-center"><h3 class="text-dark">Connecte toi
                        pour jouer !</h3></div>

                {% include 'widget/alert/alert.html.twig' with {'typeAlert' : 'error' , 'class' : 'alert-danger w-75 m-auto text-center'} %}
                <div class="mb-3">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control inputApp"
                           autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="inputPassword">Mot de passe</label>
                    <div class="d-flex align-items-center input-password-content">
                        <div id="see-password" data-action="false">
                            <i class="fas fa-eye m-1 eyes"></i>
                        </div>
                        <input type="password" name="password" id="input-password" class="form-control inputApp no-marg w-100"
                               autocomplete="current-password"
                               required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info float-end text-white"> Se connecter <i
                                class="fas fa-futbol"></i></button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('connexion') }}
{% endblock %}