<iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
<audio id="player" autoplay loop>
    <figcaption>Listen to the T-Rex:</figcaption>
    <source src="audio/opening_pack.mp3" type="audio/mp3">
</audio>