{% extends 'base.html.twig' %}

{% block title %}MarketPlace{% endblock %}


 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('marketPlace') }}
 {% endblock %}

{% block body %}
    <div>
        <div id="filtre" data-filtre="{{ filtre }}" class="d-none"></div>
        <div id="color-filtre" data-filtre="{{ color }}" class="d-none"></div>
        <div id="data-footballers" data-footballers="{{ sellFootballers }}" class="d-none"></div>
        <div id="position-filtre" data-filtre="{{ position }}" class="d-none"></div>
        <div class="mt-3" id="content-market-place"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('marketPlace') }}
{% endblock %}
