{% set imageTeamStyle = '' %}

{% if user is defined and user is not null and user.team is not null and user.team.logo is not null %}
    {% set url = asset('/uploads/logo/' ~ user.team.logo) %}
    <img class="logo-team" src="{{ url }}"/>
{% endif %}

