.contentManageTeam {
    height: 19.5em;
}

.divParentManageTeam {
    width: 35em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imageManageTeam {
    width: 35em;
    position: absolute;
    z-index: 5;
}

.transparent {
    z-index: 100;
    position: relative;
    color: white;
    float: right;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 30%);
}

.content-team {
    margin-top: 1em;
}

.tokenSell {
    width: 3em;
}

@media only screen and (max-width: 750px) {
    .divParentManageTeam {
        width: 100%;
        box-shadow: none;
    }

    .imageManageTeam {
        width: 80%;
    }

    .contentManageTeam {
        height: 9.3em;
    }

}