{% set classElement = '' %}
{% set idElement = '' %}
{% if class is defined and class is not null %}
    {% set classElement = class %}
{% endif %}

{% if id is defined and id is not null %}
    {% set idElement = id %}
{% endif %}

<div class="mb-3">
    <label class="form-label">
        {% if title is defined and title is not null %} {{ title }} {% endif %}
        {% if requiredInput is defined and requiredInput is not null %} <span class="text-danger">*</span> {% endif %}
    </label>
    {{ form_widget(nameForm, {'attr':
        {
            'class': 'form-control inputApp' ~ classElement ,
            'id' : idElement,
        }
    }) }}
    <span class="form-text text-danger">  {{ form_errors(nameForm) }}</span>
</div>