{% set classElement = '' %}
{% set idElement = '' %}
{% set nameElement = nameForm %}
{% set classElementParent = '' %}
{% if class is defined and class is not null %}
    {% set classElement = class %}
{% endif %}

{% if id is defined and id is not null %}
    {% set idElement = id %}
{% endif %}

{% if classParent is defined and classParent is not null %}
    {% set classElementParent = classParent %}
{% endif %}

<div class="mb-3 {{ classElementParent }}">
    <label class="form-label">
        {% if title is defined and title is not null %} {{ title }} {% endif %}</label>
    {% if requiredInput is defined and requiredInput is not null %} <span class="text-danger">*</span> {% endif %}
    <div class="d-flex align-items-center input-password">
        <div id="see-password" data-action="false">
            <i class="fas fa-eye m-1 eyes"></i>
        </div>
        {{ form_widget(nameForm, {'attr':
            {
                'class': 'form-control inputApp ' ~ classElement ,
                'id' : idElement,
            }
        }) }}
    </div>
    <div class="form-text text-danger">  {{ form_errors(nameForm) }}</div>
</div>