{% set classElement = '' %}
{% if class is defined and class is not null %}
    {% set classElement = class %}
{% endif %}

{% if typeAlert is defined and typeAlert is not null %}

    {% for message in app.flashes(typeAlert) %}
        <div class="alert {{ classElement }}">
            {{ message }}
        </div>
    {% endfor %}

{% endif %}