{% extends 'base.html.twig' %}

{% block title %}Bonus{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bonus') }}
{% endblock %}

{% block body %}
    <div class="m-2 p-1">
        <div id="bonus-win-user" data-win=""></div>
        <div id="icon-bonus" data-icon-bonus="{{ icon|json_encode }}"></div>
        <div class="content-bonus-game">
            <div id="random-box"
                 class="random-box shadow-lg p-3 mb-5 bg-white rounded bonus-display d-flex align-content-center justify-content-center">
                <i class="fas fa-question box-random-bonus-icon"></i>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success" id="btn-launch-bonus">Lancer la machine</button>
            </div>
        </div>
        <hr>
        <p class="text-center">Les lots à gagner</p>
        <p class="text-center">% pourcentage de chance de gagner</p>
        <div class="content-bonus-icons d-flex justify-content-between flex-wrap">
            {% for key,b in bonus %}
                <div class="bonus-display shadow-lg p-3 mb-5 bg-white rounded position-relative">
                    <p>{{ translateBonus[key] }}</p>
                    <i class="fas {{ icon[key] }}"></i>
                    <p class="position-absolute bottom-0 w-100 icon-luck">
                        {{ b }} %
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bonus') }}
{% endblock %}
