.bonus-display {
    background-color: #F7F7F7;
    color: black;
    height: 10em;
    text-align: center;
    padding: 1em;
    width: 10em;
}

.box-random-bonus-icon {
    margin-top: 0.6em !important;
}

.bonus-display i {
    font-size: 3em;
}

.content-bonus-game {
    margin-top: 3em;
}

.content-bonus-icons {
    margin-top: 3em;
}

.random-box {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.icon-luck {
    left: 0;
    margin-bottom: 1em;
}