.content-form-connexion {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
}

.content-form-connexion form {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 30em;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 8em;
}

.content-form-connexion input {
    width: 90%;
}

.input-password-content {
    width: 90%;
    margin: 0.5em;
}

.content-form-connexion input, label, button {
    border-color: #EFEFEF;
    margin: 0.5em;
}

.banner-inscription-form {
    margin-bottom: 0.8rem;
    line-height: .9;
    background-color: #e10014;
    padding: 0.3em;
}

.banner-inscription-form h3 {
    font-family: "Lobster", serif;
    color: white !important;
}

.input-password {
    border: 1px solid #F4F4F4;
    border-radius: 4px;
}

@media only screen and (max-width: 750px) {
    .content-form-connexion {
        width: 100%;
        align-items: center;
    }

    .content-form-connexion form {
        width: 90%;
    }
}