
.banner-create-team {
    width: 20%;
    height: 40px;
    position: relative;
    background: #e10014;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.banner-create-team:hover {
    background-color: black;
    color: white;
}

.label-file {
    background-color: #e10014;
    color: white;
    cursor: pointer;
    padding: 0.5em;
}

.create-team-content {
    width: 40%;
    margin-top: 2em;
}

.create-team-content input {
    border: 1px solid #F4F4F4;
    border-radius: 4px;
}

.txt-upload-file {
    width: 45%;
}

@media only screen and (max-width: 750px) {
    .banner-create-team {
        width: 100%;
    }

    .create-team-content {
        width: 100%;
    }

}