.content {
    background-image: url("../images/soccer1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80Vh;
}

.form-control {
    color: black !important;
}

.content-form-inscription {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
}

.content-form-inscription input, label, button {
    border-color: #EFEFEF;
    margin: 0.5em;
}

.content-form-inscription form {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 30em;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
    margin-bottom: 8em;

}

.content-form-inscription li {
    list-style: none;
}

.no-padd {
    padding: 0px;
}

.input-password {
    border: 1px solid #F4F4F4;
    border-radius: 4px;
}

.content-form-inscription button {
    color: white;
}

.content-form-inscription .mb-3 {
    width: 90%!important;
}

.banner-inscription-form {
    margin-bottom: 0.8rem;
    line-height: .9;
    background-color: #e10014;
    padding: 0.3em;
}

.banner-inscription-form h3 {
    font-family: "Lobster", serif;
    color: white !important;
}

.sm-margin {
    margin: 0.5em;
}

@media only screen and (max-width: 750px) {
    #form-inscription {
        width: 100%;
        display: block;
        margin: 0.8em;
    }
}