.parent-manager-team {
    height: 100vh;
}

#content-manage-team {
    height: 100vh;
}

.teamSetupContent {
    width: 70%;
    max-height: 100%;
}

.footballerListContent {
    width: 30%;
    max-height: 100%;
    overflow: auto;
    scrollbar-color: #e10014 white;
    scrollbar-width: thin;
    flex-direction: column;
}

.footballerImage {
    width: 9em;
}

.bannerInscriptionForm {
    margin-bottom: 0.8rem;
    line-height: .9;
    background-color: #e10014;
    padding: 0.3em;
    width: 100%;
    color: white !important;
}

.stadeImage {
    background-image: url("../images/terrain-foot.png");
    background-repeat: no-repeat;
    width: 27em;
    height: 42em;
    background-size: contain;
    position: absolute;
    z-index: 10;
}

.footballerPlay {
    width: 6em;
    z-index: 50;
    position: relative;
    height: 6em;
}

.rotate {
    transform: rotate(180deg);
}

.cloneFootballerElement {
    width: 10em;
    height: 10em;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.manageFootballer {
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: white;
    height: 70vh;
}

.imageFootballerSettings {
    width: 13em;
    height: 15em;
}

.ligneSettings {
    height: 70% !important;
    width: 1px;
    background-color: #363636;
    margin-left: 1em;
}

.menuSettingBtn {
    background-color: #e10014;
    color: white !important;
    margin: 0.5em;
    width: 12em;
    text-align: center;
}

.menuSettingBtn:hover {
    background-color: black;
}

.listingFootballerSettings {
    scrollbar-color: #e10014 white;
    overflow-y: scroll;
    scrollbar-width: thin;
    max-height: 88% !important;
}

.tokenSell {
    width: 3em;
}

.inputSellFootballer {
    border: none;
}

.contentSellTeam {
    border: 1px solid #ededed;
}

.contentSellTeam input:focus {
    outline: none;
    padding: 1em;
}

@media only screen and (max-width: 950px) {


    .manageFootballer {
        height: 89vh;
        overflow-y: scroll !important;
    }

    .overflow-hidden {
        overflow: none;
    }

    .footballerSettingsDisplay {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .actionSettingsDisplay {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .priceSellFootballerContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menuSettingsDisplay {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .teamSetupContent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18em;
        padding: 0px !important;
    }

    .ligneSettings {
        display: none !important;
    }

    .footballerListContent {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 27em;
    }

    .stadeImage {
        width: 27em;
        height: 42em;
        margin-top: 9em;
    }
}


@media only screen and (max-width: 550px) {
    .stadeImage {
        width: 95%;
    }

    .footballerImage {
        width: 6em;
    }

    .actionSettingsDisplay {
        text-align: center;
    }

    .ft {
        text-align: center;
    }

    .bannerInscriptionForm {
        text-align: center
    }

    .manageFootballer {
        margin-top: 6em;
    }

    .imageFootballerSettings {
        width: 7em;
        height: 7em;
    }

}