.background-image {
    background-image: url("../images/opening-pack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100Vh;
}

.title {
    background-color: #e10014;
    width: 15em;
    padding: 0.5em;
    border-top: black 0.5px solid;
}

.display-team {
    margin-top: 4em;
}

.footballer {
    width: 13em;
    height: 16em;
}

.starter-pack {
    width: 10em;
    margin-top: 10em;
}