.inputApp {
    color: black !important;
}

.navbar-soccer {
    z-index: 41;
    background-color: #e10014 !important;
}

.navbar-soccer a {
    color: white !important;
}

.icon-yellow-card {
    width: 2em;
}

.m-auto {
    margin: 0 auto;
}

.eyes {
    cursor: pointer;
}

.no-marg {
    margin: 0px !important;
}

.token-ck {
    width: 3em;
}

.user-account-menu a {
    color: black !important;
}

.cursor {
    cursor: pointer;
}

.max-height {
    max-height: 100% !important;
}
