{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('inscription') }}
   {% endblock %}
{% block body %}
    <div class="content">
        <div class="content-form-inscription">
            {{ form_start(form, {'attr': {'id': 'form-inscription'}}) }}
            <div class="banner-inscription-form d-flex justify-content-center"><h3 class="text-dark">Joue et bas tes
                    amis !</h3></div>
            {% include 'widget/form/input.html.twig' with  {'nameForm' : form.lastName , 'title' : 'Nom' ,'requiredInput' : true} %}
            {% include 'widget/form/input.html.twig' with  {'nameForm' : form.firstName , 'title' : 'Prénom','requiredInput' : true} %}
            {% include 'widget/form/input.html.twig' with  {'nameForm' : form.pseudo , 'title' : 'Pseudo','requiredInput' : true} %}
            {% include 'widget/form/input.html.twig' with  {'nameForm' : form.email , 'title' : 'Email','requiredInput' : true} %}
            {% include 'widget/form/inputPassword.html.twig' with
                {'nameForm' : form.password , 'title' : 'Mot de passe' , 'id' : 'input-password' , 'class' : 'no-marg' , 'classParent' : 'sm-margin','requiredInput' : true} %}
            <button type="submit" class="btn btn-info float-end">S'inscrire <i class="fas fa-futbol"></i></button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inscription') }}
{% endblock %}
