<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Soccer Douvaine!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('jqueryUi') }}
        {{ encore_entry_link_tags('carousel') }}
        {{ encore_entry_link_tags('themeDefault') }}
        {{ encore_entry_link_tags('jqueryFancybox') }}
        {{ encore_entry_link_tags('flaticon') }}
        {{ encore_entry_link_tags('aos') }}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body id="rootApp">
<nav class="navbar navbar-expand-lg navbar-light navbar-soccer">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url('home') }}">SOCCER Douvaine <img class="icon-yellow-card"
                                                                              src="{{ asset('build/images/yellow-card.png') }}"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user is defined and user is not null %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url('view_team') }}">Mon équipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url('market_place') }}">Market Place</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
                     <ul class="navbar-nav me-auto">
                {% if user is defined and user is not null %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-user"></i>&nbsp;Mon Compte
                    </a>
                    <ul class="dropdown-menu user-account-menu" aria-labelledby="navbarDropdown">
                        <li class="d-flex m-2">
                            <b><span>Argent : {{ user.wallet.money }} <img class="token-ck"
                                                                           src="{{ asset('build/images/token_ck.png') }}"> </span></b>
                        </li>
                        <li><b><a class="dropdown-item text-dark" href="{{ url('bonus') }}">Bonus</a></b></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('inscription') }}">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                     </ul>
    </span>
        </div>
    </div>
</nav>

{% for message in app.flashes('success') %}
    <div id="swal-success" data-type="success" data-message="{{ message|json_encode }}"></div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div id="swal-error" data-type="error" data-message="{{ message|json_encode }}"></div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div id="swal-warning" data-type="warning" data-message="{{ message|json_encode }}"></div>
{% endfor %}

{% block body %}{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('jqueryUi') }}
    {{ encore_entry_script_tags('carousel') }}
    {{ encore_entry_script_tags('jqueryEasing') }}
    {{ encore_entry_script_tags('jquerySticky') }}
    {{ encore_entry_script_tags('jqueryFancybox') }}
    {{ encore_entry_script_tags('aos') }}
    {{ encore_entry_script_tags('swal') }}
{% endblock %}

</body>
</html>
